<footer id="gtco-footer" class="gtco-section" role="contentinfo">
    <div class="gtco-container">
        <div class="row row-pb-md">
            <div class="col-md-4 gtco-widget gtco-footer-paragraph">
                <h3>Beryllium</h3>
                <p>Made by Pratyush Panda @2021</p>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-6 gtco-footer-link">
                        <h3>Links</h3>
                        <ul class="gtco-list-link">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 gtco-footer-link">
                        <h3>Work</h3>
                        <ul class="gtco-list-link">
                            <li><a href="#">New York Arena</a></li>
                            <li><a href="#">Eagle Park</a></li>
                            <li><a href="#">Nationals Park</a></li>
                            <li><a href="#">Manila Park</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    
</footer>
<!-- END footer -->